
<script src="components/jquery/jquery/dist/jquery.js"></script>
<script src="components/jquery/bootstrap/dist/js/bootstrap.js"></script>
<script src="app/js/ui-load.js"></script>
<script src="app/js/ui-jp.config.js"></script>
<script src="app/js/ui-jp.js"></script>
<script src="app/js/ui-nav.js"></script>
<script src="app/js/ui-toggle.js"></script>
<script src="app/js/ui-client.js"></script>
