
  <meta charset="utf-8">
  <title>Html version | Angulr</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="components/assets/animate.css/animate.css" type="text/css">
  <link rel="stylesheet" href="components/assets/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="components/assets/simple-line-icons/css/simple-line-icons.css" type="text/css">
  <link rel="stylesheet" href="components/jquery/bootstrap/dist/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="app/css/font.css" type="text/css">
  <link rel="stylesheet" href="app/css/app.css" type="text/css">
