<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs%>
  </head>
  <body>
    <div class="app app-header-fixed">
      <%- body %>
      <!-- /.container -->
    </div>
    <% include ../partials/footer.ejs%>
  </body>
</html>
