<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs%>
  </head>
  <body>
    <div class="app app-header-fixed">
      <% include ../partials/head.ejs%>
      <% include ../partials/aside.ejs%>
      <div id="content" class="app-content" role="main">
        <div class="bg-light lter b-b wrapper-md">
          <h1 class="m-n font-thin h3">Dashboard</h1>
        </div>
        <%- body %>
      </div>
      <!-- /.container -->
    </div>
    <% include ../partials/footer.ejs%>
  </body>
</html>
